ion-menu::part(backdrop) {
  background-color: rgba(35, 91, 147, 0.5);
}

/* curvature */
ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgba(35, 91, 147, 0.18);
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

ion-menu.ios ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.ios ion-item .selected ion-icon {
  color: var(--ion-color-primary);
}
